/*
 * Restomalin - 2013
 *
 * Design : Guillaume Schaeffer
 * www.guillaume-schaeffer.fr
 *
 * 2013-08-13
 *
 */

body {
	background-color: #F7F6F4;
}

.promo{
	/*background: #FA9F00;*/
}

li a:hover, li a:focus, li a:active, 
#div_iframe dl a:hover, #div_iframe dl a:focus, #div_iframe dl a:active, 
#breadcrumbs a:hover, #breadcrumbs a:focus, #breadcrumbs a:active {
	color: #3c3c3c;
	text-decoration: underline;
}


/* --  Colonne de gauche -- */
#div_iframe {
	background-color: #F7F6F4;
	float: left;
	width: 220px;
}

#div_iframe h4 {
	font-family: "Trebuchet MS", Myriad, Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: none;
	color: #888;	
}

#div_iframe  p+h4 {
	padding-top: 10px;
}

#div_iframe h3.bloc-recap {
	background: #bac805; 
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	padding: 2px 10px 2px 10px;
	text-shadow: 0 1px 2px rgba(0,0,0,.35);
	border-radius: 4px;x
}


.col-bloc {
	clear: both;
	background: #fff;
	border: 1px solid #efebe7;
	padding : 10px;
	margin-bottom: 10px;
}

.col-bloc form {
	line-height: 20px;
	color: #a8a8a8;
}

.col-bloc label {
	margin-left: 5px;
}

#div_iframe hr {
	margin : 12px 0 8px 0;
}

#div_iframe ul {
	list-style-image: url(../img/puce-sidebar.gif);
	list-style-position: inside;
	line-height: 15px;
}

#div_iframe li {
	color: #a8a8a8;
}


#div_iframe h3 {
	font-size: 14px;
	color: #3c3c3c;
}
